body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 0;
   
    background-color: #1b232c;
    color:rgb(218, 224, 224);
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}
.header{
    margin-top:-35px;
    padding: 0;
    font-family: 'Rock Paper Scissors', sans-serif;                                                                               
    width: 100%;
    background-color: #12181f;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom:solid 5px #3b454e;

}
#p{
    /* text-shadow: 5px black; */
    color:#ffc83d;
    font-size: 100px;
    margin:0px 20px 10px;
}
#r{
    color:#d48c00;
    font-size: 70px;
    margin: 0 0px;
}
#s {
    color:#d48c00;
    font-size: 70px;
    margin: 0 0px;
}
#main-container{
    
    min-height: 100%;
    height: auto;
    height: 100%;
    display: flex;
    flex-direction: column; /* Ustawienie kontenera na kolumnę */
    align-items: center;
    justify-content: center;
}

#result-container {
    margin-top:150px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.score-info{
    margin:0;
}

.scores-container{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.score-box{
    justify-content: space-between;
    margin:0 60px 0 60px;
}
.sign{
    font-size: 50px;
}
.score{
    margin-bottom: 50px;
    
}